<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>brastlewark.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1348AA271DD5AC5300C60011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1348AA3B1DD5AC5500C60011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1348AA461DD5AC5500C60011</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
